<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-lg-12 p-3">
            <h3>Computer Vision Task</h3>
            <div class="row">
                <div class="col-sm-4 py-3">
                    <div class="card">
                        <img src="/static/img/landmark-detection.png" class="card-img-top landmark-detection"
                            alt="object-detection">
                        <div class="card-body">
                            <h5 class="card-title">Custom Object Detection</h5>
                            <p class="card-text">Looking for information about the destination's landmark in the
                                internet?</p>
                            <div class="d-grid gap-2">
                                <a href="/landmark-detection" class="btn btn-primary">Predict</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 py-3">
                    <div class="card">
                        <img src="/static/img/ticket_fare.png" alt="orange-diseases-classification">
                        <div class="card-body">
                            <h5 class="card-title">Orange Diseases Classification</h5>
                            <p class="card-text">Planning to go for vacation? Here's a tools to predict unstable
                                ticket fares.</p>
                            <div class="d-grid gap-2">
                                <a href="/flight-fare-predictor" class="btn btn-primary">Predict</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 py-3">
                    <div class="card">
                        <img src="/static/img/sentiment.png" alt="Binary Class Image Classification">
                        <div class="card-body">
                            <h5 class="card-title">Binary Class Image Classification</h5>
                            <p class="card-text">A simple tools to do market research analysis to see what's happening
                                now.</p>
                            <div class="d-grid gap-2">
                                <a href="/sentiment-analysis" class="btn btn-primary">Predict</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-lg-12 p-3">
            <div class="row">
                <div class="col-sm-4 py-3">
                    <div class="card">
                        <img src="/static/img/landmark-detection.png" class="card-img-top landmark-detection"
                            alt="object-detection">
                        <div class="card-body">
                            <h5 class="card-title">Multi Class Image Classification</h5>
                            <p class="card-text">Looking for information about the destination's landmark in the
                                internet?</p>
                            <div class="d-grid gap-2">
                                <a href="/landmark-detection" class="btn btn-primary">Predict</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 py-3">
                    <div class="card">
                        <img src="/static/img/ticket_fare.png" alt="orange-diseases-classification">
                        <div class="card-body">
                            <h5 class="card-title">Orange Diseases Classification</h5>
                            <p class="card-text">Planning to go for vacation? Here's a tools to predict unstable
                                ticket fares.</p>
                            <div class="d-grid gap-2">
                                <a href="/flight-fare-predictor" class="btn btn-primary">Predict</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 py-3">
                    <div class="card">
                        <img src="/static/img/sentiment.png" alt="OCR">
                        <div class="card-body">
                            <h5 class="card-title">OCR</h5>
                            <p class="card-text">A simple tools to do market research analysis to see what's happening
                                now.</p>
                            <div class="d-grid gap-2">
                                <a href="/sentiment-analysis" class="btn btn-primary">Predict</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>